<ion-view view-title="{{topicName}}" ng-controller="NoteCtrl">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="NewNote()">
      <span><i class="ion-plus"></i> New</span>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button" ng-click="GoBack()">
      <span><i class="ion-arrow-left-c"></i> Back</span>
    </button>
  </ion-nav-buttons>


  <ion-content>
    <ion-list show-reorder="shouldShowReorder">
      <ion-item ng-repeat="note in notesList" ng-href="#/editNote/{{topic.topicId}}/{{note.noteId}}">
        <ion-reorder-button class="ion-navicon"
                            on-reorder="MoveNote(note, $fromIndex, $toIndex)">
        </ion-reorder-button>
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <ion-option-button class="button-assertive" ng-click="DelNote({{topic.topicId}},{{note.noteId}})">
          <span>Delete</span>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-clear">
    <button class="button button-positive" ng-click="ReorderButtonState()">
      <span ng-hide="shouldShowReorder"><i class="ion-shuffle"></i> Reorder</span>
      <span ng-show="shouldShowReorder"><i class="ion-checkmark-round"></i> Done</span>
    </button>
  </ion-footer-bar>

</ion-view>

